{% extends 'base.html' %}
{% block content %}



<div class="row">

    <!-- Customers Card -->
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3 shadow">
            <div class="card-body text-center">
                <h5 class="card-title">Customers</h5>
                <h2>{{ customers }}</h2>
            </div>
        </div>
    </div>

    <!-- Products Card -->
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3 shadow">
            <div class="card-body text-center">
                <h5 class="card-title">Products</h5>
                <h2>{{ products }}</h2>
            </div>
        </div>
    </div>

    <!-- Sales Card -->
    <div class="col-md-4">
        <div class="card text-white bg-danger mb-3 shadow">
            <div class="card-body text-center">
                <h5 class="card-title">Total Sales</h5>
                <h2>₹{{ sales }}</h2>
            </div>
        </div>
    </div>

</div>

{% endblock %}